*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Nanum Pen Script;
    font-size: 20px; /* Adjust the size as needed */
}

/* Hide scrollbar */
::-webkit-scrollbar{
    display: none;
}

